.App {
	padding-top: 4rem;
	min-height: 100vh;
	text-align: center;
}

nav.navbar {
	background-color: #e6bc2f !important;
}

h1 {
	font-size: 3rem;
}

h4 {
	cursor: pointer;
	width: 55px;
	float: left;
}

h4 a:hover {
	text-decoration: none !important;
	color: #e6bc2f !important;
}
